body div.container {
  width: 100%;
  margin: 0 auto;
}
body div.container a{
    text-decoration: none;
    color: rgb(6, 6, 44);
}
body div.container a:visited{
    color: black;
    text-decoration: none;
}
body div.container section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
} 
body div.container section#caroussel div#legende{
    text-align: center;
    font-size: 20px;
}
section#caroussel{
    background-color: rgb(224, 233, 238);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
}
div#slider { 
    width: 100%; 
    max-width: 1000px; 
    grid-template-columns: 10% 10% 10% 10%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
} 
div#slider figure {
  position: relative; 
  width: 500px;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
border-radius: 10px 10px 10px 20px;
}
  div#slider figure img { 
    width: 200px; 
    height: 0 auto; 
    float: left; 
    object-fit: cover;
    margin: 0;
    padding: 0;
}
  div#slider { 
      width: 80%; 
      max-width: 1000px; 
      overflow: hidden 
    }

  @keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  105% { left: -500%; }
  110% { left: -600%; }
  115% { left: -700%; }
  120% { left: -800%; }
  125% { left: -900%; }
  130% { left: -1000%; }
  135% { left: -900%; }
  140% { left: -800%; }
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}
div#titre{
    text-align: center;
    font-size: 20px;
}

div#photo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100vh;
    min-height: 100vh;
}
div#photo article figure{
            display:inline-block;
            margin: 0 auto;
            padding: 0;
            width: 420px;
            height: 0 auto;
        } 
div#photo article figure img{
    width: 90%;
    height: auto;
    object-fit: cover;
}

div#photo article figure figcaption{
    padding: 10px;
    font-size: 1.2em;
    text-align: right; 
}   
        
body div.container section#quatro{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
}
body div.container section#quatro article figure{
    position: relative;
    margin: 0;
    padding: 0;
}
body div.container section#quatro article figure img{
    width: 100%;
    height: 100%;
     object-fit: cover;
    display: block;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

body div.container section#quatro article:nth-child(1){
    grid-row: 1;
    grid-column: 1;
}
body div.container section#quatro article:nth-child(2){
    grid-row: 1;
    grid-column: 2;
}
body div.container section#quatro article:nth-child(3){
    grid-row: 2;
    grid-column: 1;
}
body div.container section#quatro article:nth-child(4){
    grid-row: 2;
    grid-column: 2;
}

body div.container section#quatro article figure figcaption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-transform: capitalize;
    line-height: 4em;
    font-size: 20px;
}

body div.container section#quatro article figure figcaption a{
    text-decoration: none;
    color: yellow
}
body div.container section#quatro article figure figcaption a:visited{
    color: white;
    text-decoration: none;
}
