main form fieldset legend {
  font-size: 30px;
  color: #051622;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

main form fieldset #consigne {
  margin-left: 20px;
}

main form fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

main form fieldset div span {
  width: 25%;
}

main form fieldset div label {
  width: 20%;
}

main form fieldset div input, main form fieldset div textarea, main form fieldset div select {
  width: 80%;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid black;
}

main form fieldset div textarea {
  resize: none;
}

main form fieldset div button {
  padding: 10px 150px;
  margin: 20px;
  border-radius: 5px;
  background-color: #DEB992;
}
/*# sourceMappingURL=help.css.map */