body div.container{
    width: 100%;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

body div.container a{
    color: rgb(3, 3, 34);
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
body div.container section h1{
    text-align: center;
    font-size: 30px;
    color: rgb(165, 154, 154);
}

body div.container a:visited{
    color: black;   
}
body div.container a:hover{
    color: rgb(7, 7, 95);
}
body div.container section#biogra{
    background-color: rgb(50, 50, 53);
    color: rgb(211, 224, 236);
    font-size: 15px;
}
body div.container section#biogra article{
    display: table-row;
    width: 100%;
}
body div.container section#biogra article div#biographie{
    display: table-cell;
    padding: 10px;
    width: 50%;
    text-align: left;
    overflow: hidden;
    hyphens: auto;
    -ms-hyphens: auto;
    text-overflow: ellipsis;
}
body div.container section#biogra article figure{
    align-items: center;
    width: 50%;
    height: 0 auto;
}
body div.container section#biogra article figure figcaption{
    text-align: right;
    left: 0;
}
body div.container section#biogra article figure figcaption a{
    color: rgb(32, 139, 240);
}
body div.container section#biogra article figure figcaption a:hover{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
body div.container section#biogra article figure figcaption input{
    text-align: center;
    background-color: rgb(180, 164, 14);
    color: white;
    border: 1px solid;
}
body div.container section#biogra article figure img{
    display: table-cell;
    padding: 1px;
    width: 500px;
    height: 300px; 
}
body div.container span#social{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    text-indent: 80px;
    background-color: rgb(2, 2, 12);
}
body div.container span#social a{
    color: rgb(129, 176, 230);
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
body div.container span#social a:visited{
    color: black;
    text-decoration: none;
}
body div.container span#social a:hover{
    color: white;
    text-decoration: underline;
    text-overflow: ellipsis;
    opacity: 1px;
}
body div.container section article figure{
    display: inline-block;
    width: 50%;
}

body div.container section#photographie{
    width: 100%;
    height: 0 auto;
    min-width: 100vh;
    min-height: 100vh;
}
body div.container section#photographie article{
    display: inline-block;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}
body div.container section#photographie article figure{
    width: 300px;
    height: 0 auto;
    margin: 10px;
    padding: 10px;
}
body div.container section#photographie article figure img{
    width: 300px;
    height: auto;
}
body div.container section#photographie article figure img:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

body div.container section#photographie article figure figcaption{
    text-align: right;
    font-size: 15px;    
}
body div.container section#photographie article figure figcaption input{
    text-align: center;
    background-color: rgb(180, 164, 14);
    color: white;
    border: 1px solid;
}
body div.container section#photographie div#promo article figure figcaption{
    text-align: left;
    font-size: 15px;    
}
body div.container section#photographie div#promo article figure figcaption input{
    text-align: center;
    background-color: rgb(160, 11, 11);
    color: white;
    border: 1px solid;
    width: 300px;
}

