body div.container{
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

body div.container a{
    color: rgb(3, 3, 34);
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
body div.container section h1{
    text-align: center;
    font-size: 30px;
    color: rgb(165, 154, 154);
}

body div.container a:visited{
    color: black;   
}
body div.container a:hover{
    color: rgb(7, 7, 95);
}
body div.container div.dropdown{
    justify-items: left;
    text-align: left;
    width: 30%;
    background-color: rgb(71, 88, 110);
    color: rgb(3, 10, 17);
    text-transform:uppercase;
    font-size:15px;
    margin-top:10px;
    font-family:'arial';
    border: 1px solid rgb(226, 214, 214);
}
body div.container div.dropddown nav {
    width: 100%;
    height: 0 auto;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-align: left;
    margin-left:0px;
    background-color: rgb(5, 39, 83);
    color: rgba(196, 208, 216, 0.884);
    }
    body div.container div.dropdown nav ul ul {
    display: none;
    }
    body div.container div.dropdown nav ul li:hover > ul {
    display: block;
    }
    body div.container div.dropdown nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
    }
    body div.container div.dropdown nav ul:after {
    content: "";
    clear: both;
    display: block;
    }
    body div.container div.dropdown nav ul li {
    float: left;
    list-style:15px;
    height:60px;
    width: 431px;
    }
    body div.container div.dropdown nav ul li:hover {
    background: #677c96;
    }
    body div.container div.dropdown nav ul li:hover a {
    color: rgb(31, 29, 20);
    }
    body div.container div.dropdown nav ul li a {
    display: block;
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
    text-transform:uppercase;
    font-size:15px;
    margin-top:10px;
    }
    body div.container div.dropdown nav ul li span{
        display: inline-block;
        padding: 0px 10px;
        color: #fff;
        text-transform:uppercase;
        font-size:15px;
        margin-top:10px;
    }
    
    span#clear_orientation,
    #clear_format,
    #clear_price {
        font-size: 10px;
        color: rgba(196, 208, 216, 0.884);
    }

    body div.container div.dropdown nav ul ul {
    background: #aec6e4;
    padding: 0;
    position: absolute;
    width:431px;
    margin-top:10px;
    }
    body div.container div.dropdown nav ul ul li {
    float: none;
    border-top: 1px solid #91a6c4;
    border-bottom: 1px solid #b9cbe6;
    position: relative;
    }
    body div.container div.dropdown nav ul ul li:hover {
    color: rgba(196, 208, 216, 0.884);
    }
    body div.container div.dropdown nav ul ul li a {
    padding: 5px 10px;
    }
    body div.container div.dropdown nav ul ul li a:hover {
        color: rgba(196, 208, 216, 0.884);
    }
    body div.container div.dropdown nav ul ul ul {
    position: absolute;
    }
    
body div.container div#spaceleft{
    display: table-cell;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 0 auto;
    width: 70%;
    text-align: left;
    overflow: hidden;
}
body div.container section div#blackwhite
body div.container span{
    display: table-cell;
    align-items: center;
    width: 100%;
    text-align: left;   
}
body div.container section div#blackwhite{
    margin: 10px;
    padding: 10px;
}
body div.container span div#space{
    width: 100%;
    height: 35px;
    background-color: rgb(5, 39, 83);
}
body div.container section{
    width: 100%;
    height: 0 auto;
    min-width: 100vh;
}
body div.container section#photographie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 0 auto;
    margin: 10px;
    padding: 10px;
}
body div.container section#photographie article{
    display: inline-block;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;   
}
body div.container section#photographie article figure{
    width: 200px;
    height: 0 auto;
    margin: 2px;
    padding: 2px;
}
body div.container section#photographie article figure img{
    width: 200px;
    height: auto;
}
body div.container section#photographie article figure img:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

body div.container section#photographie article figure figcaption{
    text-align: right;
    font-size: 15px;    
} 

body div.container section#pagin{
    width: 100%;
    height: 150px;
    background-color: rgb(5, 39, 83);
}

body div.container nav ul.pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;

}
body div.container nav ul.pager li {
    list-style: none;
}

body div.container nav ul.pager li > a {
    font-size: 15px;
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    margin: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  -webkit-box-shadow:0 0 20px rgba(31, 26, 26, 0.8);
    -moz-box-shadow:0 0 10px rgba(31, 26, 26, 0.8);
    box-shadow:0 0 10px rgba(31, 26, 26, 0.8);
}
body div.container nav ul.pager li a:hover{
    cursor: pointer;
    color: rgb(139, 144, 196); 
}