body div.container {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
}

body div.container a {
  color: rgb(3, 3, 34);
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
body div.container section h1 {
  text-align: center;
  font-size: 30px;
  color: rgb(165, 154, 154);
}

body div.container a:visited {
  color: black;
}
body div.container a:hover {
  color: rgb(7, 7, 95);
}
body div.container div.collapsibledropdown {
  justify-items: left;
  text-align: left;
  width: 30%;
  background-color: #777;
  color: rgb(3, 10, 17);
  font-size: 15px;
  margin-top: 5px;
  font-family: "arial";
  border: 1px solid rgb(226, 214, 214);
}
body div.container div.collapsibledropdown nav {
  height: 0 auto;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-align: left;
}
body div.container div.collapsibledropdown nav p {
  height: 2px;
  background-color: #f1f1f1;
}
/* THE collapsible */
.content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content ul li{
  list-style-type: none;
  width: 500px;
  float: left;
  list-style:15px;
  height:40px;
}

.content ul li a{
  text-decoration: none;
  display: block;
  padding: 10px;
  margin: 0;
  color: rgb(12, 11, 11);
  text-decoration: none;
  font-size:15px;
}
.content ul li a:hover{
  color: #aec6e4;
  background-color: #72767c;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  color: #aec6e4;
  background-color: #555;
}

/* the 2nd section */
body div.container div#spaceleft {
  display: table-cell;
  justify-content: left;
  align-items: center;
  margin: 10px;
  padding: 0 auto;
  width: 70%;
  text-align: left;
  overflow: hidden;
}
body div.container section div#blackwhite body div.container span {
  display: table-cell;
  align-items: center;
  width: 100%;
  text-align: left;
}
body div.container section div#blackwhite {
  margin: 10px;
  padding: 10px;
}
body div.container section div#blackwhite p{
  border: 1px solid rgb(192, 188, 188);
  margin: 10px;
  padding: 10px;
}

body div.container section {
  width: 100%;
  height: 0 auto;
  min-width: 100vh;
}
body div.container section#photographie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 0 auto;
  margin: 10px;
  padding: 10px;
}
body div.container section#photographie article {
  display: inline-block;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 1fr 1fr 1fr;
}
body div.container section#photographie article figure {
  width: 200px;
  height: 0 auto;
  margin: 2px;
  padding: 2px;
}
body div.container section#photographie article figure img {
  width: 200px;
  height: auto;
}
body div.container section#photographie article figure img:hover {
  cursor: pointer;
  filter: contrast(0.2);
}

body div.container section#photographie article figure figcaption {
  text-align: right;
  font-size: 15px;
}

body div.container section#photographie article figure figcaption input{
  text-align: center;
  background-color: rgb(180, 164, 14);
  color: white;
  border: 1px solid;
  width: 200px;
  font-size: 11px;
}

body div.container section#pagin {
  width: 100%;
  height: 150px;
  background-color: rgb(5, 39, 83);
}

body div.container nav ul.pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
body div.container nav ul.pager li {
  list-style: none;
}

body div.container nav ul.pager li > a {
  font-size: 15px;
  padding: 5px 15px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  margin: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px rgba(31, 26, 26, 0.8);
  -moz-box-shadow: 0 0 10px rgba(31, 26, 26, 0.8);
  box-shadow: 0 0 10px rgba(31, 26, 26, 0.8);
}
body div.container nav ul.pager li a:hover {
  cursor: pointer;
  color: rgb(139, 144, 196);
}
