body{
    margin:0 auto;
    }
    
    body h1{
        border-bottom: black 3px solid; width:100%;padding-top: 20px;
    
        
    }
    
    section{
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: rgb(238, 236, 236);
        width: 80%;
        
    }
    
    table {
        border:grey 1px solid;
        border-collapse: collapse;
        width: 70%;
        margin-top: 15px;
        margin-bottom: 15px;
        min-width: 360px;
        max-width: 900px;
        }
        th {
        
        border: thin solid grey;
        width: 50%;
        padding: 5px;
        background-color:whitesmoke;
        }
        td {
        
        border: thin solid grey;
        width: 50%;
        padding: 5px;
        text-align: center;
        background-color: #ffffff;
        }
    
    
    